.ap-status-indicator {
  padding-top: 5px;
  font-size: 12px;
  line-height: 1.42857142857143;
}

.ap-status-indicator small {
  color: #707070;
}

.ap-loading, .ap-load-timeout {
  padding-left: 4px;
}

.ap-link-disabled, .ap-link-disabled:hover, .ap-link-disabled:visited, .ap-link-disabled:focus {
  color: gray !important;
  text-decoration: none;
}

.ap-iframe-container iframe {
  border: 0;
}

.ap-iframe-container iframe.full-size-general-page {
  border-bottom: 1px solid #ccc;
}
.ap-iframe-container iframe.full-size-general-page-no-footer {
  border:none;
}

iframe.sized-to-parent {
  display: block;
}

.ap-status-indicator .small-spinner {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 4px;
}

.ap-iframe-container {
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

@-webkit-keyframes fadeInConnectSpinner { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeInConnectSpinner { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadeInConnectSpinner { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeInConnectSpinner { from { opacity: 0; } to { opacity: 1; } }

.ap-status-indicator {
  opacity: 0;
  animation: fadeInConnectSpinner 0.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.connect-resolve-error {
  font-size: 12px;
  line-height: 1.42857142857143;  
}