/* Copied from https://stash.atlassian.com/projects/CONFCLOUD/repos/confluence/browse/confluence-plugins/confluence-bundled-plugins/confluence-web-resources/src/main/resources/includes/css/theming/legacy-text-colors.less
 * Removed unneeded *-color-picker classes
 */
/* stylelint-disable design-system/ensure-design-token-usage */
.legacy-text-color(@name, @originalColor, @darkColor) {
  .legacy-color-text-@{name} {
    color: @originalColor;
  }

  html[data-color-mode=dark] .legacy-color-text-@{name} {
    color: @darkColor;
  }
}

.legacy-text-color(blue3, #172B4D, #B6C2CF);
.legacy-text-color(orange1, #993300, #EF7B46);
.legacy-text-color(khaki1, #333300, #CDC991);
.legacy-text-color(green1, #003300, #A9DCA0);
.legacy-text-color(blue1, #003366, #ABC3FF);
.legacy-text-color(blue2, #000080, #F2BFFF);
.legacy-text-color(purple1, #333399, #B3A0FF);
.legacy-text-color(default, #000000, #FFFFFF);
.legacy-text-color(red1, #800000, #FF8F73);
.legacy-text-color(orange2, #FF6600, #FF944D);
.legacy-text-color(yellow1, #808000, #949400);
.legacy-text-color(green2, #008000, #4A9A4A);
.legacy-text-color(teal1, #008080, #2DA8A8);
.legacy-text-color(blue4, #0000FF, #8080FF);
.legacy-text-color(gray1, #666699, #9B9BC5);
.legacy-text-color(gray2, #7A869A, #8893A5);
.legacy-text-color(red2, #FF0000, #FF3D3D);
.legacy-text-color(orange3, #FF9900, #FFC266);
.legacy-text-color(green3, #99CC00, #AACC43);
.legacy-text-color(green4, #339966, #53C68C);
.legacy-text-color(teal2, #33CCCC, #8DE2E2);
.legacy-text-color(blue5, #3366FF, #7094FF);
.legacy-text-color(pink1, #800080, #F380EE);
.legacy-text-color(gray3, #A5ADBA, #A5ADBA);
.legacy-text-color(pink2, #FF00FF, #FF80FF);
.legacy-text-color(yellow2, #FFCC00, #FFEA94);
.legacy-text-color(yellow3, #FFFF00, #FFFF6B);
.legacy-text-color(green5, #00FF00, #61FF61);
.legacy-text-color(teal3, #00FFFF, #57FFFF);
.legacy-text-color(blue6, #00CCFF, #57DDFF);
.legacy-text-color(pink3, #993366, #DE73A3);
.legacy-text-color(gray4, #C1C7D0, #C1C7D0);
.legacy-text-color(pink4, #FF99CC, #E5579E);
.legacy-text-color(tan1, #FFCC99, #FFA347);
.legacy-text-color(yellow4, #FFFF99, #E5E545);
.legacy-text-color(green6, #CCFFCC, #61D661);
.legacy-text-color(teal4, #CCFFFF, #8AFFFF);
.legacy-text-color(blue7, #99CCFF, #56ABFF);
.legacy-text-color(purple2, #CC99FF, #BA75FF);
.legacy-text-color(inverse, #FFFFFF, #000000);
/* stylelint-enable design-system/ensure-design-token-usage */
